[Unit]
Description=Joystick Converter Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/joystick_converter
ExecStart=/usr/bin/python3 /home/pi/joystick_converter/src/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
